*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #FCFAEE;
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logo{
    width: 200px;
    cursor: pointer;
    font-size: 30px;
    left: 0%;
    color: #A5B68D;
    font-family: 'Itim', sans-serif;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}


.register{
    padding: 10px 20px;
    background-color: #ECDFCC;
    color: black;
    text-decoration: none;
    font-family: 'Itim', sans-serif;
    border-radius: 40px 0 40px 0;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.register:hover{
    background-color: #5a9f46;
}

.login{
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-family: 'Itim', sans-serif;
    font-size: 20px;
    transition: color 0.3s ease
}
.login:hover{
    color:#5a9f46;
}

.card1{
    width: 300px;
    padding: 60px;
    box-sizing: ;
    background-color: #ECDFCC;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 5%;
}
.card1-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: pink;
}
