*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #FCFAEE;
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logo{
    width: 200px;
    cursor: pointer;
    font-size: 25px;
    left: 0%;
    color: #A5B68D;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}