*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #FCFAEE;
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logo{
    width: 200px;
    cursor: pointer;
    font-size: 30px;
    left: 0%;
    color: #A5B68D;
    font-family: 'Itim', sans-serif;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}


.register{
    padding: 10px 20px;
    background-color: #ECDFCC;
    color: black;
    text-decoration: none;
    font-family: 'Itim', sans-serif;
    border-radius: 40px 0 40px 0;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.register:hover{
    background-color: #5a9f46;
}

.login{
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-family: 'Itim', sans-serif;
    font-size: 20px;
    transition: color 0.3s ease
}
.login:hover{
    color:#5a9f46;
}

.card1{
    width: 800px;
    height: 400px;
    padding: 60px;
    background-color: #ECDFCC;
    border-radius: 60px 10px 10px;
    box-shadow: 6px 10px 6px 6px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
}

.card1-image{
    width: 500px;
    box-sizing: border-box;
    height: auto;
    border-radius: 30px 30px 30px 10px;
    margin-top: 20px;
    align-items: left;
    padding: 60px;
    background-color: pink;
}

.card1-title{
    font-size: 40px;
    color: black;
    margin-top: 20%;
    font-family: 'Itim', sans-serif;
    text-align: left;
    padding-right: 0px;
    width: 400px;
}
.card1-title pre{
    display: inline;
    color: #5a9f46;
    font-family: 'Itim', sans-serif;
}

.card1-button{
    display: inline;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Itim', sans-serif;
    font-size: 20px;
    margin-left: 75%;
}
.card1-button:hover{
    background-color: #A5B68D;
}