.body {
    background-color: #FCFAEE;
}

.big-font {
    font-size: 25px;
    font-weight: bold;
}

.normal-font {
    font-size: 20px;
    font-weight: bold;
}

.small-font {
    font-size: 15px;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #F1F1F1;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
}

.working_area {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    height: 100%;
    margin-left: 250px;
    z-index: 900;
}

.navbar-img {
    position: relative;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-left: calc((250px - 120px) / 2);
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: azure;
    display: flex;
}

.navbar-info {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    display: flexbox;
    margin-left: calc((250px - 200px) /2);
}

.navbar-info-text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-bottom: 2.5px;
    font-family: "Itim";
    text-align: center;
}

.navbar-navmenu {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    display: flexbox;
    margin-left: calc((250px - 200px) / 2);
}

.navbar-category {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-family: "Itim";
}

.navbar-icon {
    position: relative;
    top: 1px;
    left: 0;
    width: 23px;
    height: 23px;
    color: black;
    margin-right: 10px;
    display: inline-block;
}

.navbar-nav {
    position: relative;
    top: -4px;
    left: 0;
    width: 60%;
    height: max-content;
    display: inline-block;
    font-family: "Itim";
    margin: 0;
    padding: 0;
}

.navbar-navs:hover {
    animation: navbar-nav-animation 0.4s ease;
    color: #DA8359;
}

.navbar-line {
    position: relative;
    top: -4px;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: #FED9C7;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar-navs {
    position: relative;
    top: 0;
    left: 5px;
}

.burgermenu {
    display: none;
    width: 70px;
    height: max-content;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 2000;
}

.span {
    position: relative;
    top: 0;
    left: 0;
    width: 70px;
    height: 15px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    background-color: black;
    display: block;
}

.notify_div {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    height: max-content;
    background-color: #ECDFCC;
    z-index: 1000000000000000;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 20px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    margin-top: 15px;
    display: none;
}

.notify_text {
    position: relative;
    top: 0;
    left: 0;
    max-width: 50vw;
    height: max-content;
    word-break: break-all;
    font-size: 25px;
    font-family: "Itim";
    font-weight: bold;
    display: inline-block;
}

.notify_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    max-width: 50vw;
    height: max-content;
    word-break: break-all;
    font-size: 25px;
    font-family: "Itim";
    font-weight: bold;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-right: 10px;
    color: #DA8359;
    display: flexbox;
    justify-self: center;
    cursor: pointer;
}



















/* media */

@media screen and (max-width: 720px) {
    .normal-font {
        font-size: 25px;
    }

    .small-font {
        font-size: 20px;
    }

    .navbar-main-part {
        display: none;
    }

    .navbar {
        width: 100px;
    }

    .working_area {
        width: calc(100% - 100px);
        margin-left: 100px;
    }

    .burgermenu {
        display: block;
    }

    .navbar-img {
        width: 180px;
        height: 180px;
        margin-top: 10px;
    }

    .navbar-info {
        width: 350px;
    }

    .navbar-info-text {
        width: 350px;
    }

    .navbar-icon {
        width: 30px;
        height: 30px;
    }

    .navbar-line {
        font-size: 30px;
    }

    .navbar-category {
        font-size: 25px;
    }

    .navbar-img {
        margin-left: calc((100% - 180px) / 2);
    }

    .navbar-navmenu {
        margin-left: calc((100% - 200px) / 2);
    }

    .navbar-info {
        margin-left: calc((100% - 350px) / 2);
    }
}





/* animations */

@keyframes span1_open {
    0% {
        top: 0;
        rotate: 0;
    }

    100% {
        top: 20px;
        rotate: 45deg;
    }
}

@keyframes span2_open {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes span3_open {
    0% {
        top: 0;
        rotate: 0;
    }

    100% {
        top: -20px;
        rotate: -45deg;
    }
}

@keyframes span1_close {
    0% {
        top: 20px;
        rotate: 45px;
    }

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes span2_close {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes span3_close {
    0% {
        top: -20px;
        rotate: -45deg;
    }

    100% {
        top: 0px;
        rotate: 0deg;
    }
}

@keyframes navbar_open {
    0% {
        width: 100px;
    }

    100% {
        width: 100%;
    }
}

@keyframes navbar_close {
    0% {
        width: 100%;
    }

    100% {
        width: 100px;
    }
}

@keyframes navbar2_open {
    0% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes navbar2_close {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: block;
    }
}

@keyframes navbar-nav-animation {
    0% {
        color: black;
    }

    70% {
        color: #DA8359;
    }
}

@keyframes notify_div_animation_open {
    0% {
        top: -150%;
    }

    100% {
        top: 0px;
    }
}

@keyframes notify_div_animation_close {
    0% {
        top: 0;
    }

    100% {
        top: -150%;
    }
}
