.body {
    background-color: #FCFAEE;
}

.normal-font {
    font-size: 20px;
    font-weight: bold;
}

.small-font {
    font-size: 15px;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #F1F1F1;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
}

.working_area {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    height: max-content;
    margin-left: 250px;
    z-index: 900;
}

.navbar-img {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: azure;
}

.navbar-info {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.navbar-info-text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-bottom: 2.5px;
    font-family: "Itim";
    text-align: center;
}

.navbar-navmenu {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
}

.navbar-category {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-family: "Itim";
}

.navbar-icon {
    position: relative;
    top: 1px;
    left: 0;
    width: 23px;
    height: 23px;
    color: black;
    margin-right: 10px;
    display: inline-block;
}

.navbar-nav {
    position: relative;
    top: -1px;
    left: 0;
    width: 60%;
    height: max-content;
    display: inline-block;
    font-family: "Itim";
    margin: 0;
    padding: 0;
}

.navbar-live {
    position: relative;
    top: -4px;
    left: 0;
    width: max-content;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: #DA8359;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.navbar-navs {
    position: relative;
    top: 0;
    left: 5px;
}








/* media */

@media screen and (max-widht: 720px) {
    
}