.container {
    position: relative;
    top: 0;
    left: 0;
    width: 49%;
    height: max-content;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.small_card {
    position: relative;
    top: 0;
    left: 0;
    width: 65%;
    height: 200px;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 30%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
}

.large_card {
    position: relative;
    top: 0;
    left: 0;
    width: 75%;
    height: calc(400px + 50px);
    margin-left: 5%;
    margin-top: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
}