.small_card {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
    display: inline-block;
}

.small_card:hover {
    animation: card_hover 0.15s ease;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.432);
    transform: scale(1.02);
}

.large_card {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 450px;
    margin-top: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
    display: inline-block;
}

.small_card_img {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    margin-top: 50px;
    margin-left: 15px;
}

.cards_main_holder {
    display: flex;
    width: 850px;
    margin-left: calc((100% - 850px) / 2);
    margin-right: calc((100% - 850px) / 2);
}

.cards_holder {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 400px;
    margin-right: 50px;
    margin-left: 0px;
}

.cards_holder2 {
    display: flex;
    width: 850px;
    margin-left: calc((100% - 850px) / 2);
    margin-right: calc((100% - 850px) / 2);
}

.small_card_texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 150px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 180px;
}

.small_card_text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    margin: 0;
    padding: 0;
}

.tip_card {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 350px;
    background-color: #ECDFCC;
    border-radius: 5px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
    margin-right: 50px;
    margin-top: 50px;
}

.energy_saving_chart_div {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 350px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281); 
    margin-top: 50px;  
}

.tip_card_title {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    font-family: "Itim";
    text-align: center;
}

.tip_card_tip {
    position: relative;
    top: 0;
    left: 0;
    width: 170px;
    height: 250px;
    margin-left: 30px;
    overflow: hidden;
    font-family: "Itim";
}

.tip_card_img{
    position: absolute;
    bottom: 30px;
    right: 25px;
    width: 160px;
    height: max-content;
}

.description_card_holder {
    display: flex;
    width: 850px;
    margin-left: calc((100% - 850px) / 2);
    margin-right: calc((100% - 850px) / 2);
}

.description_card {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
    place-self: center;
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281); 
    
}

.description_card_inputs {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 40px;
    display: block;
    padding: 15px;
    padding-top: 25px;
}

.usage_type {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 100px;
    height: 40px;
    background-color: #ECDFCC;
    font-family: "Itim";
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline;
}

.usage_type:focus {
    animation: usage_type_animation 1s ease;
}

.usage_name {
    position: absolute;
    top: 25px;
    left: 105px;
    width: 190px;
    height: 30px;
    background-color: #ECDFCC;
    font-family: "Itim";
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.usage_name_label {
    position: absolute;
    top: 31px;
    left: 150px;
    font-family: "Itim";
    color: gray;
}

.usage_value {
    position: absolute;
    top: 25px;
    left: 325px;
    width: 220px;
    height: 30px;
    background-color: #ECDFCC;
    font-family: "Itim";
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.usage_value_label {
    position: absolute;
    top: 31px;
    left: 385px;
    font-family: "Itim";
    color: gray;
}

.usage_submit {
    position: absolute;
    top: 25px;
    left: 740px;
    padding: 0;
    margin: 0;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    width: max-content;
    border: none;
    outline: none;
    background-color: #A5B68D;
    border-radius: 5px;
    color: white;
}

.description_line {
    position: relative;
    top: 40px;
    left: 0;
    margin-top: 10px;
    width: 800px;
    display: block;
    border: 2px solid #DA8359;
}

.sorting_list {
    position: relative;
    top: -10px;
    left: 0;
    width: 100%;
    height: max-content;
    display: block;
}

.sl_usage {
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    color: gray;
    font-family: "Itim";
    display: inline-block;
}

.sl_date {
    position: relative;
    top: 0;
    left: 0;
    width: 160px;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: gray;
    font-family: "Itim";
    display: inline-block;
}

.sl_title {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: gray;
    font-family: "Itim";
    display: inline-block;
}

.sl_value {
    position: relative;
    top: 0;
    left: 0;
    width: 120px;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: gray;
    font-family: "Itim";
    display: inline-block;
}

.sl_member {
    position: relative;
    top: 0;
    left: 0;
    width: 130px;
    height: max-content;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: gray;
    font-family: "Itim";
    display: inline-block;
}

.top_border {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    border: 2px solid #707070;
    margin-left: 15px;
    border-radius: 4px;
}

.Chart1 {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    margin-left: calc((100% - 200px) / 2);
    margin-right: calc((100% - 200px) / 2);
}

.Chart {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    display: flexbox;
}

.recycle_cards {
    position: relative;
    top: 0;
    left: 0;
    width: 850px;
    height: max-content;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.recycle_card {
    position: relative;
    top: 0;
    left: 0;
    width: 270px;
    margin-right: 10px;
    height: 400px;
    background-color: #FFFFFF;
    display: flexbox;
    border-radius: 15px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281); 
}

.recycle_card_icon {
    position: relative;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin-left: calc((100% - 60px) / 2);
    margin-right: calc((100% - 60px) / 2);
    margin-top: 10px;
}

.recycle_card_title {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-family: "Itim";
    text-align: center;
}

.recycle_card_texts {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    font-family: "Itim";
}

.recycle_card_review {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: max-content;
    margin-bottom: 15px;
}

.recycle_card_review_line {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    border: 2px solid #DA8359;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
}

.recycle_card_review_text {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: max-content;
    padding: 0;
    margin: 0;
    font-family: "Itim";
    margin-left: 10%;
    margin-right: 10%;
}



/* responsive */
@media screen and (max-width: 1250px) {
    .cards_holder {
        margin-right: 20px;
    }

    .cards_main_holder {
        width: 720px;
        margin-left: calc((100% - 720px) / 2);
        margin-right: calc((100% - 720px) / 2);
    }

    .cards_holder2 {
        width: 720px;
        margin-left: calc((100% - 720px) / 2);
        margin-right: calc((100% - 720px) / 2);
    }

    .description_card_holder {
        width: 720px;
        margin-left: calc((100% - 720px) / 2);
        margin-right: calc((100% - 720px) / 2);
    }

    .large_card {
        width: 300px;
    }

    .energy_saving_chart_div {
        width: 300px;
    }
}

@media screen and (max-width: 990px) {
    .cards_main_holder {
        width: 100%;
        left: 0px;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .cards_holder2 {
        width: 100%;
        left: 0px;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .cards_holder {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .description_card_holder {
        width: 100%;
        left: 0px;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .description_card {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .small_card {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .large_card {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .tip_card {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }

    .energy_saving_chart_div {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .small_card_text {
        font-size: 18px;
        width: 100%;
    }

    .small_card_texts {
        font-size: 18px;
        width: calc(100% - 100px - 40px);
        margin-left: 140px;
    }

    .small_card_img {
        width: 100px;
        height: 100px;
        margin-top: 80px;
    }

    .Chart {
        width: calc(100% - 40px);
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 550px) {
    .tip_card {
        height: max-content;
        padding-bottom: 200px;
    }

    .tip_card_tip {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        height: max-content;
    }

    .tip_card_img {
        width: 80%;
        max-height: 150px;
    }
}

@media screen and (max-width: 380px) {
    .small_card {
        height: 300px;
    }

    .small_card_text {
        font-size: 18px;
        width: 100%;
    }

    .small_card_texts {
        font-size: 18px;
        width: calc(100% - 40px);
        margin-left: 20px;
    }

    .small_card_img {
        width: 130px;
        height: 130px;
        margin-top: 170px;
        display: flex;
        justify-self: center;
        margin-left: 0;
    }

    .large_card {
        display: none;
    }

    .energy_saving_chart_div {
        display: none;
    }
}


/* animations */
@keyframes card_hover {
    0% {
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
        transform: scale(1);
    }

    100% {
        transform: scale(1.02);
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.432);
    }
}

@keyframes usage_type_animation {
    0% {
        box-shadow: 0;
    }

    50% {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.121);
    }

    100% {
        box-shadow: 0;
    }
}

@keyframes usage_name_label_animation_open {
    0% {}

    100% {
        top: 5px;
        left: 145px;
        font-size: 15px;
    }
}

@keyframes usage_name_label_animation_close {
    0% {
        top: 5px;
        left: 145px;
        font-size: 15px;
    }

    100% {
        top: 31px;
        left: 150px;
        font-size: 20px;
    }
}

@keyframes usage_value_label_animation_open {
    0% {}

    100% {
        top: 5px;
        left: 380px;
        font-size: 15px;
    }
}

@keyframes usage_value_label_animation_close {
    0% {
        top: 5px;
        left: 380px;
        font-size: 15px;
    }

    100% {
        top: 31px;
        left: 385px;
        font-size: 20px;
    }
}