.small_card {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
    display: inline-block;
}

.large_card {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 450px;
    margin-top: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
    display: inline-block;
}

.small_card_img {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    margin-top: 50px;
    margin-left: 15px;
}

.cards_holder {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 400px;
    margin-right: 50px;
    margin-left: 50px;
}

.small_card_texts {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 150px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 180px;
}

.small_card_text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-family: "Itim";
    margin: 0;
    padding: 0;
}

.tip_card {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 350px;
    background-color: #ECDFCC;
    border-radius: 5px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.energy_saving_chart_div {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 350px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.281); 
    margin-top: 50px;  
}

.tip_card_title {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    height: max-content;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    font-family: "Itim";
    text-align: center;
}

.tip_card_tip {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 250px;
    margin-left: 30px;
    background-color: aqua;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}