{% extends 'layout.html' %}
{% load static %}


{% block title %}
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}





{% block body %}
    <div class="container">
        <div class="small_card">
            <img class="" src="{% static 'pics/working_page/light_bulb.svg' %}">
        </div>
        <div class="small_card"></div>

        <br>
    </div>

    <div class="container">
        <div class="large_card"></div>

        <br>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}