{% extends 'layout.html' %}
{% load static %}


{% block title %}
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}





{% block body %}
    <div class="cards_main_holder">
        <div class="cards_holder">
            <div class="small_card">
                <img class="small_card_img" src="{% static 'pics/working_page/light_bulb.svg' %}">

                <div class="small_card_texts">
                    <h1 class="normal-font small_card_text">58 KW (-26%)</h1>
                    <h1 class="small-font small_card_text" style="color: gray;">26% less used in this month</h1>
                </div>
            </div>

            <div class="small_card">
                <img class="small_card_img" src="{% static 'pics/working_page/wet_hand.svg' %}">

                <div class="small_card_texts">
                    <h1 class="normal-font small_card_text">2200 Litre (-10%)</h1>
                    <h1 class="small-font small_card_text" style="color: gray;">10% less used in this month</h1>
                </div>
            </div>
        </div>

        <div class="large_card">
            <div class="Chart">
                <canvas id="EnergyChart" class="Chart"></canvas>
            </div>
            
            <div class="Chart">
                <canvas id="WaterChart" class="Chart"></canvas>
            </div>
        </div>
    </div>

    <section style="display: none;">

    <div class="cards_holder2">
        <div class="tip_card">
            <h1 class="tip_card_title big-font">Tip for energy saving</h1>

            <h1 class="tip_card_tip normal-font">
                some tisp text here
                some tipsf text heredas

                  das
                some tip tasasddext here
                some tip text sadsahere                some tip text here
                some tip text here
                some tip text here
                some tip text here
                some tip text heref
                some tip text herege
                some tip text hereg
                some tip text heress
                some tip text hereg
                some tip text heres
                some tip text heredad
            </h1>

            <img class="tip_card_img" src="{% static 'pics/working_page/high_five.svg' %}">
        </div>

        <div class="energy_saving_chart_div"></div>
    </div>

    <div class="description_card_holder">
        <div class="description_card">
            <div class="description_card_inputs">
                <select class="usage_type normal-font" name="usage_type" id="usage_type">
                    <option value="">Water</option>
                    <option value="">Energy</option>
                    <option value="">Waste</option>
                    <option value=""></option>
                </select>

                <input class="usage_name normal-font" type="text" name="usage_name" id="usage_name">
                <label class="usage_name_label normal-font" for="usage_name" id="usage_name_label">Title here</label>
                
                <input class="usage_value normal-font" type="text" name="usage_value" id="usage_value">
                <label class="usage_value_label normal-font" for="usage_value" id="usage_value_label">Value here</label>

                <input class="usage_submit normal-font" type="submit" id="usage_submit" value="New">

                <hr class="description_line">  

            </div>

            <div class="sorting_list">
                <h1 class="sl_usage normal-font">Usage type</h1>
                <h1 class="sl_date normal-font">Date</h1>
                <h1 class="sl_title normal-font">Title/Reason</h1>
                <h1 class="sl_value normal-font">Usage value</h1>
                <h1 class="sl_member normal-font">Member</h1>
            </div>
            
            {% for i in sorted_list %}
                <div class="sorted_list">
                    <hr class="top_border">
                    <h1 class="sl_usage small-font" style="color: black;">Energy usage</h1>
                    <h1 class="sl_date small-font" style="color: black;">2024/10/19 3:16 PM</h1>
                    <h1 class="sl_title small-font" style="color: black;">Some reason aka title here</h1>
                    <h1 class="sl_value small-font" style="color: black;">78KW</h1>
                    <h1 class="sl_member small-font" style="color: black;">ID#2518</h1>
                </div>
            {% endfor %}

            <br>
        </div>
    </div>

    <div class="recycle_cards">
        <div class="recycle_card" style="background-color: #A5B68D;">
            <img class="recycle_card_icon" src="{% static 'pics/working_page/recycle_icon.svg' %}">
            <h1 class="recycle_card_title normal-font">Recycle item: Paper</h1>

            <h1 class="recycle_card_texts normal-font">Papers used: 620</h1>
            <h1 class="recycle_card_texts normal-font">Papers recycled: 520</h1>
            <h1 class="recycle_card_texts normal-font">Papers left to recycle: 100</h1>
            <h1 class="recycle_card_texts normal-font">Days left to recycle more this month: 10 days</h1>

            <div class="recycle_card_review">
                <hr class="recycle_card_review_line">
                <h1 class="recycle_card_review_text big-font">Quality: 85% </h1>
            </div>
        </div>

        <div class="recycle_card" style="background-color: #F1F1F1;">
            <img class="recycle_card_icon" src="{% static 'pics/working_page/recycle_icon.svg' %}">
            <h1 class="recycle_card_title normal-font">Recycle item: Glass</h1>

            <h1 class="recycle_card_texts normal-font">Papers used: 620</h1>
            <h1 class="recycle_card_texts normal-font">Papers recycled: 520</h1>
            <h1 class="recycle_card_texts normal-font">Papers left to recycle: 100</h1>
            <h1 class="recycle_card_texts normal-font">Days left to recycle more this month: 10 days</h1>

            <div class="recycle_card_review">
                <hr class="recycle_card_review_line">
                <h1 class="recycle_card_review_text big-font">Quality: 85% </h1>
            </div>
        </div>

        <div class="recycle_card" style="background-color: #D4F7FF;">
            <img class="recycle_card_icon" src="{% static 'pics/working_page/recycle_icon.svg' %}">
            <h1 class="recycle_card_title normal-font">Recycle item: Plastic</h1>

            <h1 class="recycle_card_texts normal-font">Papers used: 620</h1>
            <h1 class="recycle_card_texts normal-font">Papers recycled: 520</h1>
            <h1 class="recycle_card_texts normal-font">Papers left to recycle: 100</h1>
            <h1 class="recycle_card_texts normal-font">Days left to recycle more this month: 10 days</h1>

            <div class="recycle_card_review">
                <hr class="recycle_card_review_line">
                <h1 class="recycle_card_review_text big-font">Quality: 85% </h1>
            </div>
        </div>
    </div>

    <br>
</section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}