{% extends 'layout.html' %}
{% load static %}


{% block title %}
{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}





{% block body %}
    <div style="display: flex; justify-content: center; justify-items: center; flex-wrap: wrap; padding-left: 50px; padding-right: 50px;">
        <div class="cards_holder">
            <div class="small_card">
                <img class="small_card_img" src="{% static 'pics/working_page/light_bulb.svg' %}">

                <div class="small_card_texts">
                    <h1 class="normal-font small_card_text">58 KW (-26%)</h1>
                    <h1 class="small-font small_card_text">26% less used in this month</h1>
                </div>
            </div>

            <div class="small_card">
                <img class="small_card_img" src="{% static 'pics/working_page/wet_hand.svg' %}">

                <div class="small_card_texts">
                    <h1 class="normal-font small_card_text">2200 Litre (10%)</h1>
                    <h1 class="small-font small_card_text">10% less used in this month</h1>
                </div>
            </div>
        </div>

        <div class="large_card"></div>
    </div>

    <div style="display: flex; justify-content: center; justify-items: center; flex-wrap: wrap;">
        <div class="tip_card">
            <h1 class="tip_card_title big-font">Tip for energy saving</h1>

            <h1 class="tip_card_tip normal-font">
                some tisp text here
                some tipsf text heredas

                  das
                some tip tasasddext here
                some tip text sadsahere                some tip text here
                some tip text here
                some tip text here
                some tip text here
                some tip text heref
                some tip text herege
                some tip text hereg
                some tip text heress
                some tip text hereg
                some tip text heres
                some tip text heredad
            </h1>

            <img class="tip_card_img" src="{% static 'pics/working_page/high_five.svg' %}">
        </div>

        <div class="energy_saving_chart_div"></div>
    </div>

    <div class="">
        
    </div>

    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}