{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" src="{% static 'css/info.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <div class="logo">GreenGuard</div>
                </div>
                <div class="menu">
                    
                </div>
            </div>
        </div>


        <h1>Info page</h1>
        <script src="{% static 'js/info.js' %}"></script>
    </body>
</html>