{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/info.css' %}">
        
        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <div class="logo">GreenGuard</div>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#" class="login">Log In</a></li>
                        <li><a href="#" class="register">Register Now</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="card1">
                    <img src="#" alt="Image1" class="card1-image">
                    <h2 class="card1-title">Certify your company with <pre>GreenGuard</pre> <br>for FREE</h2>
                    <a href="#" class="card1-button">Discover Now
                    </a>
                </div>
            </div>
            <div>
                <div class="card2">
                    <img src="#" alt="Image2" class="card2-image">
                    <p class="card2-text">Register your company. <br>Track your moves. <br>Be ecofriendly. <br>Be safe.</p>
                </div>
            </div>
            <div>
                <div class="card3">
                    <h2 class="card3-title">Make changes NOW!</h2>
                    <p class="card3-text">Make a difference today. Track your company's environnemental <br>impact, identity areas for improvement, and earnn your certification <br>for a sustainable future. Together, we can help your business thrive <br>while saving the planet.</p>
                    <a href="#" class="card3-button">Discover Now
                    </a>
                </div>
            </div>
        </div>


        <h1>Info page</h1>
        <script href="{% static 'js/info.js' %}"></script>
    </body>
</html>