{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/info.css' %}">

        <!--icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <div class="logo">GreenGuard</div>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#" class="login">Log In</a></li>
                        <li><a href="#" class="register">Register Now</a></li>
                        <i class="bi bi-box-arrow-in-right"></i>
                    </ul>
                </div>
            </div>
            <div class="cards-container">
                <div class="card1">
                    <img src="#" alt="Image1" class="card1-image">
                    <h2 class="card1-title">Certify your company with <pre>GreenGuard</pre> <br>for FREE</h2>
                    <a href="#" class="card1-button">Discover Now
                        <i class="bi bi-arrow-up-right" style="transform: rotate(45deg);"></i>
                    </a>
                </div>
                <div>
                    <div class="card2">
                    <p class="card2-text">Register your company. <br>Track your moves. <br>Be ecofriendly. <br>Be safe.</p>
                    <img src="{% static 'pics/info_page/Group.svg' %}" alt="image here" class="card2-image">
                    </div>
                </div>
                <div class="card3">
                    <h2 class="card3-title">Make changes NOW!</h2>
                    <p class="card3-text">Make a difference today. Track your company's environmental <br>impact, identity areas for improvement, and earn your certification <br>for a sustainable future. Together, we can help your business thrive <br>while saving the planet.</p>
                    <a href="#" class="card3-button">Discover Now
                        <i class="bi bi-arrow-up-right" style="transform: rotate(45deg)";></i>
                    </a>
                </div>
                <div class="card4">
                    <img src="#" alt="image here" class="card4-image">
                </div>
            </div>
            <div class="carousel-container">
                <div class="carousel">
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                    <span class="carousel-item">Make Changes Today</span>
                </div>
            </div>
        </div>
        <section class="about-page">
            <h2 class="about-page-title">We Offer You</h2>
            <div class="help-cards-container">
                <div class="help-card1">
                    <div class="help-card1-title">Help Customers, Help the World.</div>
                    <div class="help-card1-text">We analyze your company's environmental impact and provide detailed insights on areas that need improvement, offering specific recommendations on what to change and how to implement eco-friendly solutions for a sustainable future.</div>
                </div>
                <div class="help-card2">
                    <img src="#" alt="Image here">
                </div>
                <div class="help-card3">
                    <video controls loop title="Video loop here" src="#"></video>
                </div>
                <div class="help-card4">
                    <p class="help-card4-text">Transform your business for a greener future.</p>
                </div>
            </div>
        </section>
        <section class="register-page"> 
            <h1 class="register-page-title">Small changes makes huge difference.</h1>
            <a href="#" class="register-page-button">Register Your Organization Now</a>
        </section>
        

        <script href="{% static 'js/info.js' %}"></script>
    </body>
</html>