{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body>
        <div class="getstarted">
            <div class="main">
                <div class="card">
                    <img src="Magnifying Glass.svg" alt="Imaage placeholder" class="card-pic">
                    <div class="content">
                        <h1 class="title">Let's get started</h1>
                        <div class="chekbox-container">
                            <input type="checkbox" id="privacy-policy">
                            <label for="privacy-policy"><pre>By checking and registering I agree <br> with the site's policy.</pre></label>
                        </div>
                        <button><i class="bi bi-arrow-right" onclick=""></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact">
            <div class="main">
                <div class="card">
                    <img src="Holding Smartphone.svg" alt="Image placeholder" class="card-pic">
                    <div class="content">
                        <h1 class="title">Contact information</h1>
                        <p class="text">Give organization info to register your <br> organization</p>
                        <form action="/chemin/vers/le/serveur" method="POST" class="form">
                            <input type="email" id="email" name="email" class="form-field" placeholder="Email adress" required>
                            <br>
    
                            <input type="text" id="address1" name="address1" class="form-field" placeholder="Address 1" required>
                            <br>
    
                            <input type="text" id="address2" name="address2" class="form-field" placeholder="Address 2">
                            <br>
                            <div class="phone-group">
                                <input name="country-number" id="country-number" class="form-field" required>

                                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Phone number" class="form-field" required>
                                <br>
                            </div>
    
                            <input type="text" id="organization" name="organization" class="form-field" placeholder="Organization name">
                            <br><br>
    
                            <button type="submit">Continue</button>
                            <br><br>
                        </form>
                        <button><i class="bi bi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <script href="{% static 'js/register.js' %}"></script>
    </body>
</html>